<md-card class="allMdCards">
  <md-card-header>
    <md-card-title><h2>Sign In</h2></md-card-title>
  </md-card-header>

  <md-card-content>
    <form #userSignInForm="ngForm" (ngSubmit)="signIn()">
      <md-input-container>
        <input mdInput type="email" name="email" [(ngModel)]="userEmail" placeholder="Email" />
      </md-input-container>
      <br><br>
      <md-input-container>
        <input mdInput type="password" name="password" [(ngModel)]="userPassword" placeholder="Password" />
      </md-input-container>
      <md-card-actions>
      <button type="submit" [disabled]="!userSignInForm.valid" md-raised-button color="primary">Sign In!</button>
      </md-card-actions>
    </form>
  </md-card-content>

  <md-card-footer>
    <a routerLink="/signUp" md-button color="primary">Create an Account!</a>
  </md-card-footer>
</md-card>
